<!-- SPDX-License-Identifier: Apache-2.0 -->

<!DOCTYPE html>
<html>
  <head>
    <title>Hyperledger Fabric Tuna Application</title>
    <link rel="icon" href="favicon.png" type="image/gif">

    <!-- require jquery and bootstrap scripts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    
    <!-- adding style here -->
    <style type="text/css">
      header{
        background-color: lightgray;
        font-size:20px;
        padding:15px;
      }
      header, .form-group{
        margin-bottom: 3%;
      }
      .form-group{
        width:50%;
      }
      #body{
        margin-left:3%;
        margin-right:3%;
      }
      .form-control{
        margin: 8px;
      }
      #right_header{
        width:20%;
        font-size:15px;
        margin-right:0px;
      }
      #left_header{
        margin-left:0;
        width:40%;
        display:inline-block;
      } 
      #id {
        width:49%;
        display: inline-block;
      }
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }
      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }
      tr:nth-child(even) {
          background-color: #dddddd;
      }
    </style>
  </head>
  <body ng-app="application" ng-controller="appController">
    <header>
      <div id="left_header">Hyperledger Fabric Tuna Application</div>
    </header>

    <div id="body">
      
      <!--후원자 회원가입-->
      <div class="form-group">
        <label>Register form for Supporter</label><br>
        이름: <input class="form-control" type="text" ng-model="supporter.name">
        주민등록번호: <input class="form-control" type="text" ng-model="supporter.id">
        이메일: <input class="form-control" type="text" ng-model="supporter.email"> 
        비밀번호: <input class="form-control" type="password" ng-model="supporter.pw">
        주소: <input class="form-control" type="text" ng-model="supporter.address">
        전화번호: <input class="form-control" type="text" ng-model="supporter.phoneNum">
        <input id="registerSupporter" type="submit" value="Create" ng-click="registerSupporter()">
      </div>
      
      <!--피후원자 회원가입-->
      <div class="form-group">
        <label>Register form for Recipient</label><br>
        이름: <input class="form-control" type="text" ng-model="recipient.name">
        주민등록번호: <input class="form-control" type="text" ng-model="recipient.id">
        이메일: <input class="form-control" type="text" ng-model="recipient.email"> 
        비밀번호: <input class="form-control" type="password" ng-model="recipient.pw">
        주소: <input class="form-control" type="text" ng-model="recipient.address">
        전화번호: <input class="form-control" type="text" ng-model="recipient.phoneNum">
        사유: <input class="form-control" type="text" ng-model="recipient.story">
        <input id="registerRecipient" type="submit" value="Create" ng-click="registerRecipient()">
      </div>

      <!--피후원자 조회-->

      <div class="form-group">
        <label>Query All Recipients</label>
        <p><input id="queryAllRecipient" type="submit" value="Query" class="btn btn-primary" ng-click="queryAllRecipient()"></p>
      </div>
 
      <table id="all_recipient" class="table" align="center">

        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Email</th>
          <th>Password</th>
          <th>Address</th>
          <th>PhoneNum</th>
          <th>Story</th>
          <th>Status</th>
        </tr>

        <tr ng-repeat="recipient in all_recipient">
          <td>{{recipient.name}}</td>
          <td>{{recipient.id}}</td>
          <td>{{recipient.email}}</td>
          <td>{{recipient.password}}</td>
          <td>{{recipient.address}}</td>
          <td>{{recipient.phoneNum}}</td>
          <td>{{recipient.story}}</td>
          <td>{{recipient.status}}</td>
        </tr>
      </table>
      
      <div class="form-group">
        <label>피후원자 등록 승인</label><br>
        <h5 style="color:green;margin-bottom:2%" id="success_recipient">Success! Tx ID: {{approve_recipient}}</h5>
        <h5 style="color:red;margin-bottom:2%" id="error_recipient">Error: Please enter a valid Recipient Id</h5>
        Enter a recipient id <input class="form-control" name="assetSelect" ng-model="appRecipient.id">
        <input id="approveRecipient" type="submit" value="승인" class="btn btn-primary" ng-click="approveRecipient()">
      </div>

      <!--후원자 조회-->

      <div class="form-group">
        <label>Query All Supporters</label>
        <p><input id="queryAllSupporter" type="submit" value="Query" class="btn btn-primary" ng-click="queryAllSupporter()"></p>
      </div>
 
      <table id="all_supporter" class="table" align="center">

        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Email</th>
          <th>Password</th>
          <th>Address</th>
          <th>phoneNum</th>
        </tr>

        <tr ng-repeat="supporter in all_supporter">
          <td>{{supporter.name}}</td>
          <td>{{supporter.id}}</td>
          <td>{{supporter.email}}</td>
          <td>{{supporter.pw}}</td>
          <td>{{supporter.address}}</td>
          <td>{{supporter.phoneNum}}</td>
        </tr>
      </table>

      <!-- 로그인 한 유저의 주민번호 정보로 바로 조회하여 개인 정보들을 띄워주는 것으로 수정 필요-->
      <div class="form-group">
        <label>내 정보 조회(후원자)</label><br>
        
        주민등록번호: <input id="createName" class="form-control" type="text" placeholder="Ex: 3" ng-model="supporter_id">
        <input id="querySubmit" type="submit" value="Query" class="btn btn-primary" ng-click="querySupporter()">
      </div>

      <table id="query_supporter" class="table" align="center">

        <tr>
          <th>이름</th>
          <th>주민등록번호</th>
          <th>이메일</th>
          <th>비밀번호</th>
          <th>주소</th>
          <th>전화번호</th>
        </tr>

        <tr>
          <td>{{query_supporter.name}}</td>
          <td>{{query_supporter.id}}</td>
          <td>{{query_supporter.email}}</td>
          <td>{{query_supporter.pw}}</td>
          <td>{{query_supporter.address}}</td>
          <td>{{query_supporter.phoneNum}}</td>
        </tr>
      </table>

      <!-- 로그인 한 유저의 주민번호 정보로 바로 조회하여 개인 정보들을 띄워주는 것으로 수정 필요-->
      <div class="form-group">
        <label>내 정보 조회(피후원자)</label><br>
        
        주민등록번호: <input id="createName" class="form-control" type="text" placeholder="Ex: 3" ng-model="recipient_id">
        <input id="querySubmit" type="submit" value="Query" class="btn btn-primary" ng-click="queryRecipient()">
      </div>

      <table id="query_recipient" class="table" align="center">

        <tr>
          <th>이름</th>
          <th>주민등록번호</th>
          <th>이메일</th>
          <th>비밀번호</th>
          <th>주소</th>
          <th>전화번호</th>
          <th>신청 사유</th>
          <th>상태</th>
        </tr>

        <tr>
          <td>{{query_recipient.name}}</td>
          <td>{{query_recipient.id}}</td>
          <td>{{query_recipient.email}}</td>
          <td>{{query_recipient.password}}</td>
          <td>{{query_recipient.address}}</td>
          <td>{{query_recipient.phoneNum}}</td>
          <td>{{query_recipient.story}}</td>
          <td>{{query_recipient.status}}</td>
        </tr>
      </table>
<!--    <div class="form-group">
        <label>Create Tuna Record</label>
        <h5 style="color:green;margin-bottom:2%" id="success_create">Success! Tx ID: {{create_tuna}}</h5>
        <br>
        Enter catch id: <input class="form-control" type="text" placeholder="Ex: 11" ng-model="tuna.id">
        Enter name of vessel: <input class="form-control" type="text" placeholder="Ex: 0239L" ng-model="tuna.vessel">
        Enter longitude: <input id="createName" class="form-control" type="text" placeholder="Ex: 28.012" ng-model="tuna.longitude"> 
        Enter latitude: <input id="createName" class="form-control" type="text" placeholder="Ex: 150.405" ng-model="tuna.latitude">
        Enter timestamp: <input class="form-control" type="text" placeholder="Ex: 4982342301" ng-model="tuna.timestamp">
        Enter name of holder: <input class="form-control" type="text" placeholder="Ex: Hansel" ng-model="tuna.holder">
        <input id="createSubmit" type="submit" value="Create" class="btn btn-primary" ng-click="recordTuna()"> 
      </div>
-->
<!-- 나중에 로그인 된 사람 정보를 불러와서 띄워놓기-->
      <div class="form-group">
        <label>내 정보 수정(후원자)</label><br>
        <!--<h5 style="color:green;margin-bottom:2%" id="success_holder">Success! Tx ID: {{change_userSupporter}}</h5>
        <h5 style="color:red;margin-bottom:2%" id="error_holder">Error: Please enter a valid Tuna Id</h5>-->
        주민등록번호를 입력 해주세요: <input class="form-control" name="assetSelect" ng-model="userSupporter.id">
        이름: <input class="form-control" name="assetSelect"  ng-model="userSupporter.name">
        이메일: <input class="form-control" name="assetSelect"  ng-model="userSupporter.email">
        비밀번호: <input class="form-control" name="assetSelect"  ng-model="userSupporter.pw">
        주소: <input class="form-control" name="assetSelect"  ng-model="userSupporter.address">
        폰 번호: <input class="form-control" name="assetSelect"  ng-model="userSupporter.phoneNum">
        <input id="transferSubmit" type="submit" value="수정" class="btn btn-primary" ng-click="changeSupporterInfo()">
      </div>

      <div class="form-group">
        <label>내 정보 수정(피후원자)</label><br>
        <!--<h5 style="color:green;margin-bottom:2%" id="success_holder">Success! Tx ID: {{change_holder}}</h5>
        <h5 style="color:red;margin-bottom:2%" id="error_holder">Error: Please enter a valid Tuna Id</h5>-->
        주민등록번호를 입력해 주세요: <input class="form-control" name="assetSelect" ng-model="userRecipient.id">
        이름(이것두 빼기): <input class="form-control" name="assetSelect"  ng-model="userRecipient.name">
        이메일: <input class="form-control" name="assetSelect"  ng-model="userRecipient.email">
        비밀번호: <input class="form-control" name="assetSelect"  ng-model="userRecipient.password">
        주소: <input class="form-control" name="assetSelect"  ng-model="userRecipient.address">
        폰 번호: <input class="form-control" name="assetSelect"  ng-model="userRecipient.phoneNum">
        신청 사연: <input class="form-control" name="assetSelect"  ng-model="userRecipient.story">
        상태(건들 수 없는것으로 나중에 수정 항목에서 빼기): <input class="form-control" name="assetSelect"  ng-model="userRecipient.status">
        <input id="transferSubmit" type="submit" value="수정" class="btn btn-primary" ng-click="changeRecipientInfo()">
      </div>

    </div>
  </body>
    <!-- requiring the angular page -->
    <script type="text/javascript" src="app.js"> </script>
</html>