<div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- header Nav Start -->
                <nav class="navbar">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/index">
                                <img src="images/logo.png" alt="Logo">
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/">Home</a></li>
                                <%if(session&&session.auth==2){ //정부인 경우%>
                                <li><a href="/header/query">후원자/피후원자 목록</a></li>
                                <li><a href="/approve">피후원자 승인</a></li>
                                <%}%>
                                <%if(session&&session.auth==0){ //후원자인 경우%>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">바우처 <span class="ion-ios-arrow-down"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/supporter/purchaseVoucher">바우처 구매</a></li>
                                            <li><a href="/supporter/beforeShowDoVou">바우처 조회</a></li>
                                            <li><a href="">바우처 기부</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">피후원자 추천 요청</a></li>
                                <%}%>
                                <%if(session&&session.auth==1){ //피후원자인 경우%>
                                <li><a href="#">받은 바우처 내역 확인</a></li>
                                <%}%>
                                <%if(session&&session.auth==3){ //후원기관인 경우%>
                                <li><a href="#">피후원자 목록</a></li>
                                <%}%>
                                <%if(session&&(session.auth==0||session.auth==1||session.auth==2||session.auth==3)){%>
                                    <li><a href="#">후원금 사용내역 조회</a></li>
                                    <li><a href="/logout">로그아웃</a></li>
                                    <li><a href="/mypage">마이페이지(내정보)</a></li>
                                <%} else{%>
                                    <li><a href="/login">로그인</a></li>
                                <%}%>
                            </ul>
                            </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div> 

