<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Aviato E-Commerce Template">
  
  <meta name="author" content="Themefisher.com">

  <title>개인 후원 시스템</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!-- Ionic Icon Css -->
  <link rel="stylesheet" href="plugins/Ionicons/css/ionicons.min.css">
  <!-- animate.css -->
  <link rel="stylesheet" href="plugins/animate-css/animate.css">
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="application" ng-controller="appController" id="body">

<!-- Header Start -->
<%- include("header") %>
<!-- header close -->
<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>개인 후원 시스템</h1>
          <p>기부하기</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Start -->
<section class="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="portfolio-menu">
            <ul>
              <li class="filter" data-filter="all">전체</li>
              <li class="filter" data-filter=".child">아동+청소년</li> <!--child:class name-->
              <li class="filter" data-filter=".old">어르신</li>
              <li class="filter" data-filter=".disabled">장애인</li>
              <li class="filter" data-filter=".multicultural">다문화</li>
            </ul>
          </div>
          <div class="portfolio-contant">
            <ul class="portfolio-contant-active text-center">
              <li class="mix child">
                <a class="portfolio-popup" href="">
                  <img src="images/portfolio/work1.jpg" alt="">
                      <h4>사례1</h4>
                      <p>Labore et dolore magna aliqua. Ut enim ad </p>
                </a>
              </li>
              <li class="mix old">
                <a class="portfolio-popup" href="">
                  <img src="images/portfolio/work2.jpg" alt="">
                      <h4>사례2</h4>
                      <p>Labore et dolore magna aliqua. Ut enim ad </p>
                </a>
              </li>
              <li class="mix disabled">
                <a class="portfolio-popup" href="">
                  <img src="images/portfolio/work3.jpg" alt="">
                      <h4>사례3</h4>
                      <p>Labore et dolore magna aliqua. Ut enim ad </p>
                </a>
              </li>
              <li class="mix multicultural">
                <a class="portfolio-popup" href="">
                  <img src="images/portfolio/work4.jpg" alt="">
                      <h4>사례4</h4>
                      <p>Labore et dolore magna aliqua. Ut enim ad </p>
                </a>
              </li>
              <li class="mix Video">
                <a class="portfolio-popup" href="">
                  <img src="images/portfolio/work5.jpg" alt="">
                      <h4>사례5</h4>
                      <p>Labore et dolore magna aliqua. Ut enim ad </p>                    
                </a>
              </li>

              <li class="mix Video">
                <a class="portfolio-popup" href="">
                  <img src="images/portfolio/work5.jpg" alt="">
                      <h4>사례6</h4>
                      <p>Labore et dolore magna aliqua. Ut enim ad </p>                    
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer Start -->

<footer class="footer">
<%- include("footer") %>
</footer>

    <!-- 
    Essential Scripts
    <!-- Main jQuery -->
   
    <script src="https://code.jquery.com/jquery-git.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!--  -->
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Mixit Up JS -->
    <script src="plugins/mixitup/dist/mixitup.min.js"></script>
    <script src="plugins/SyoTimer/build/jquery.syotimer.min.js"></script>

    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>

    <script src="js/script.js"></script>

  </body>
  </html>
   
