<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!--<div class="footer-manu">
				<ul>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact us</a></li>
					<li><a href="#">How it works</a></li>
					<li><a href="#">Support</a></li>
					<li><a href="#">Terms</a></li>
				</ul>
			</div>-->
			<p class="copyright">Copyright 2020 &copy; Design & Developed by <a href="http://www.themefisher.com">themefisher.com</a>. All rights reserved.
				<br>
				Get More <a href="https://themewagon.com/theme_tag/free/" target="_blank">Free Bootstrap Templates</a>
			</p>
		</div>
	</div>
</div>
