<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Aviato E-Commerce Template">
  
  <meta name="author" content="Themefisher.com">

  <title>개인 후원 시스템</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!-- Ionic Icon Css -->
  <link rel="stylesheet" href="plugins/Ionicons/css/ionicons.min.css">
  <!-- animate.css -->
  <link rel="stylesheet" href="plugins/animate-css/animate.css">
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<%- include("header") %>
<body ng-app="application" ng-controller="appController" id="body">
<!-- Header Start -->
<header class="header"></header>
<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>개인 후원 시스템</h1><br>
          <p>후원자 회원가입</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- contact form start -->
<section class="contact-form">
    <div class="container"> 
       <!--후원자 회원가입-->
       <form action="registerSupporter/supp_reg" method="post"><br>
        이름: <input class="form-control" type="text" name="sname"><br>
        <p>주민등록번호:</p>
        <input style="width:30%" type="text" name="sid1">&nbsp&nbsp-&nbsp&nbsp<input style="width:30%" type="text" name="sid2"><br><br>
        계좌번호: <select name="sbank">
          <option value="kook">국민</option>
          <option value="ki">기업</option>
          <option value="nong">농협</option>
          <option value="shin">신한</option>
          <option value="sc">SC</option>
          <option value="ha">하나</option>
          <option value="woo">우리</option>
          <option value="kakao">카카오뱅크</option>
          <option value="etc">그 외</option>
        </select>
        <input class="form-control" type="text" name="saccount"><br>
        이메일: <input class="form-control" type="text" name="semail"> <br>
        비밀번호: <input class="form-control" type="password" name="spw"><br>
        주소: <input class="form-control" type="text" name="saddress"><br>
        전화번호: <input class="form-control" type="text" name="sphoneNum"><br>
        <input id="registerSupporter" type="submit" value="회원가입">
      </form>
    </div>
</section>
<!-- footer Start -->
<footer class="footer">
<%- include("footer") %>
</footer>
    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- Main jQuery -->
   
    <script src="https://code.jquery.com/jquery-git.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!--  -->
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Mixit Up JS -->
    <script src="plugins/mixitup/dist/mixitup.min.js"></script>
    <script src="plugins/SyoTimer/build/jquery.syotimer.min.js"></script>


    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>

    <script src="js/script.js"></script>

  </body>
  </html>
