<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Aviato E-Commerce Template">
  
  <meta name="author" content="Themefisher.com">

  <title>개인 후원 시스템</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!-- Ionic Icon Css -->
  <link rel="stylesheet" href="plugins/Ionicons/css/ionicons.min.css">
  <!-- animate.css -->
  <link rel="stylesheet" href="plugins/animate-css/animate.css">
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="application" ng-controller="appController" id="body">
<!-- Header Start -->
<%- include("header") %><!-- header close -->
<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>개인 후원 시스템</h1>
          <p>마이페이지</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->
<section class="contact-form">
    <div class="container"> 
      <div class="form-group">
        <label>내 정보</label>
        <table class="table" align="center">
          <tr>
            <td width="30%" border-right="1px solid black">이름</td>
            <td><%=session.Name%></td>
          </tr>
          <tr>
            <td width="30%" border-right="1px solid black">해당 그룹</td>
              <%if(session.auth==0){%>
                <td>후원자</td>
              </tr>  
              <%}else if(session.auth==1){%>
                <td>피후원자</td>
              </tr>
              <%}else if(session.auth==2){%>
                <td>공공기관</td>
              </tr>
              <%}else {%>
                <td>후원기관</td>
              </tr>
              <%}%>
        </table>
      </div><br>
          <br>
      
          <div class="form-group">
            <label>비밀번호 수정</label><br>
            <%if (session.auth == 0){%>
              <form class="form-register" method="post" action="/supporter/supp_pass_info">
              주민번호를 입력해 주세요 <input type = "text" placeholder ="'-'를 포함하여 입력해 주세요" class="form-control" id="id" name="id">
              비밀번호를 입력해 주세요 <input type="password" class="form-control" id="password" name="password"><br>
              <input id="edit" class="btn btn-default" type="submit" value="확인">
            </form>
            <%}
             else if (session.auth == 1) {%>
              <form class="form-register" method="post" action="/recipient/reci_pass_info">
                주민번호를 입력해 주세요 <input type = "text" placeholder ="'-'를 포함하여 입력해 주세요" class="form-control" id="id" name="id">
                비밀번호를 입력해 주세요 <input type="password" class="form-control" id="password" name="password"> <br>
                <input id="edit" class="btn btn-default" type="submit" value="확인">
              </form>
              <%}%>
          </div><br><br>

          <%if(session.auth==0){%>
          
            <div class="form-group">
                <form class="form-register" method="post" action="/supporter/purchase">
                  <label>바우처 구매</label><br>
                  주민번호를 입력해 주세요 <input type = "text" placeholder ="'-'를 포함하여 입력해 주세요" class="form-control" id="id" name="id">
                  비밀번호를 입력해 주세요 <input type="password" class="form-control" id="password" name="pw">
                  <label>구매할 블록 수:
                  블록은 1개당 100원입니다. &nbsp &nbsp
                  <input type="text" name="amount" style="width:25%; height:33px; margin:5px;">개</label><br>
                  <input id="edit" class="btn btn-default" type="submit" value="구매">
                  </form>
            </div>
          <br><br>
          <%}%>

          <div class="form-group">
            <label>바우처 내역 조회</label><br>
              <%if (session&&session.auth==0){%>
                <form class="form-register" method="post" action="/supporter/showDonateVoucher">
                  주민번호를 입력해 주세요 <input type = "text" placeholder ="'-'를 포함하여 입력해 주세요" class="form-control" id="id" name="id">
                  비밀번호를 입력해 주세요 <input type="password" class="form-control" id="password" name="pw"><br>
                    <input id="edit" class="btn btn-default" type="submit" value="확인">
                </form>
              <%}else{%>
                <form class="form-register" method="post" action="/recipient/showDonateVoucher">
                  주민번호를 입력해 주세요 <input type = "text" placeholder ="'-'를 포함하여 입력해 주세요" class="form-control" id="id" name="id">
                  비밀번호를 입력해 주세요 <input type="password" class="form-control" id="password" name="pw"><br>
                  <input id="edit" class="btn btn-default" type="submit" value="확인">
              </form>
              <%}%>
          </div>
      

<!-- footer Start -->
<footer class="footer">
<%- include("footer") %>
</footer>
    <script src="https://code.jquery.com/jquery-git.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!--  -->
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Mixit Up JS -->
    <script src="plugins/mixitup/dist/mixitup.min.js"></script>
    <script src="plugins/SyoTimer/build/jquery.syotimer.min.js"></script>


    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>

    <script src="js/script.js"></script>
  </body>
  </html>
